body{
    /* position: relative; */
}
* {
    margin: 0;
    padding: 0;
}

#nav-bar {
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid rgb(107, 107, 107);
}

.navbar-brand img {
    height: 40px;
    padding-left: 30px;
}

.navbar-brand img:hover {
    transform: scale(1.2);
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover {
    transform: scale(1.1);
    color: rgb(107, 107, 107);
}

.nav-link {
    color: rgb(107, 107, 107);
    font-weight: 600;
    font-size: 16;
}

#div-height-78vh{
    height: 60vh;
}

/* <---slider ---> */

#slider {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item img {
    height: 600px;
}


/*------------Footer---------------*/

#footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    background: #333333;
    color: #fff;
    height: 20vh;
}

.footerText {
    text-align: center;
}

#logoBlanco img {
    height: 50px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.linksFooter {
    padding: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.footerPoliticas {
    color: white;
}

.footerPoliticas:hover {
    transform: scale(1.1);
    color: white;
}


/*------------footerIndex---------------*/

/* #footerIndex {
    position:absolute;
    bottom: 0;
    width: 100%;
    background: #333333;
    color: #fff;
    min-height: 15vh;
    max-height: 50vh;
    position: absolute;
    bottom: 0;
} */

/*------------Galeria---------------*/

.container-galeria {
    display: flex;
    flex-direction: column;
    border: solid 2px red;
}

.item-1{
    display: flex;
    flex-direction: row;
    border: 2px solid blue;
    margin: 5px;
    /* width: 100%; */
}

.item-2{
    /* display: flex; */
    /* flex-direction: row; */
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 5px;
    border: 2px solid yellowgreen
}

.item-3{
    border: 2px solid green;
    /* width: 100%; */
    margin: 5px;
}

.item-3 ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    overflow-y: auto;
    width: 100%;
}

.grow {
    transition: all .2s ease-in-out;
    margin: 2px;
}

.grow:hover {
    transform: scale(1.2);
}

#footerIndex {
    width: 100%;
    background: #333333;
    color: #fff;
}

#map {
    height: 50vh;
    width: 100%;
}

/* #margin-col-4{
    margin-top: 1vh;
}
#margin-col-8{
    margin-top: 1vh;
}

#Seccion-galeria{
    background: rgb(159, 159, 160);
}


.galeria-overflow li a img {
    border: 1px solid white;
    width: 100%;
}


.galeria-overflow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    object-fit: scale-down;
    overflow-y: auto;
    max-height: 800px;
}

.grow {
    transition: all .2s ease-in-out;
    flex-grow: 1;
    align-items: center;
}

.grow:hover {
    transform: scale(1.2);
}

#divGaleria {
    display: flex;
    flex-wrap: wrap;
}

#sobreContenido {
    list-style-type: none;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 5px;
}

#map {
    height: 500px;
    width: 100%;
} */


/*------------Acceder catalogo---------------*/

.centrar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#accedeCatalogo {
    text-align: center;
    font-style: italic;
    color: rgb(117, 116, 116);
}

#parafo {
    text-align: center;
    font-style: italic;
    color: rgb(117, 116, 116);
}

#catalogoIndex {
    padding: 20px;
    margin: 20px;
}


/*------------Boton Acceder catalogo---------------*/

.uk-button {
    -webkit-appearance: none;
    margin: 0;
    overflow: visible;
    font: inherit;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    background: transparent;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #ddd;
    font-weight: bold;
    box-shadow: inset 0 0 0 0 transparent;
    transition: all 0.1s ease-in-out;
}

.uk-button-primary {
    background-color: #eee;
    color: #999;
    border-color: #ddd;
}

.uk-button-large {
    min-height: 50px;
    padding: 0 28px;
    line-height: 50px;
    font-size: 16px;
}

.uk-button:hover {
    color: white;
    text-decoration: none;
    border-color: white;
}

.centrarBoton {
    text-align: center;
}


/*------------Politicas de privacidad---------------*/

.politicas {
    padding: 20px;
    margin: 20px;
}


/*-----Sidebar-------*/

#page-container {
  position: relative;
  min-height: 100vh;
}

#seccionprincipal {
    border-top: 4px solid rgb(107, 107, 107);
    height: 80vh;
}

#div-grande-12 {
    padding-left: 0px;
    margin-left: 0px;
    height: 100%;
}
#small-div-2{
    height: 100%;
    border: 2px solid red;
}

#sidebarlistUl {
    list-style-type: none;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    height: 100%;
    border: 1px solid rgb(159, 159, 160);
}

.hoverLi {
    padding-bottom: 2%;
    /* margin: 1px; */
}

.hoverLi:hover {
    background: rgb(218, 218, 217);
    border-radius: 10em;
}


.sidebarlistUl-li-a {
    font-size: 17px;
    font-weight: bolder;
    color: black;
    text-decoration: none;
    padding-left: 3%;
}

.sidebarlistUl-li-a:hover {
    text-decoration: none;
    color: grey;
}

#div-grande-10 {
    background: blanchedalmond;
}

.dropdownlist {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-top: 3%;
}

.colite {
    display: flex;
}

.acolite {
    font-size: 14px;
    font-weight: normal;
    color: grey;
    padding-left: 20%;
    padding-bottom: 5%;
    width: 100%;
}

.acolite:hover {
    background: rgb(218, 218, 217);
    border-radius: 10em;
    text-decoration: none;
    color: black;
}
